@*
    This is the Index.cshtml file located in Views/Home folder
*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The current server time is: @ViewBag.CurrentTime</p>
</div>
